*{
    margin: 0;
    border: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#board{
    border: 2px solid;
    display: none;
}

#start > label{
    display: block;
}

#start > p {
    margin-bottom: 10px;
}

#start > button {
    width: 30vw;
    height: 7vh;
    display: block;
    margin: 10px auto;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.tiles{
    border: 1px solid;
    display: inline-block;
    width: 0px;
    height: 0px;
}